<ion-view  cache-view="false" view-title="Ticket">
  <ion-content>

              <a class="item item-icon-left" href="#/tab/ticket/NEW">
                <i class="icon ion-star"></i>
                New Ticket
                <span class="badge badge-assertive">{{count.new}}</span>
              </a>
      
              <a class="item item-icon-left" href="#/tab/ticket/PENDING">
                <i class="icon ion-minus"></i>
                My Pending Ticket
                <span class="badge badge-assertive">{{count.pending}}</span>
              </a>
      
              <a class="item item-icon-left" href="#/tab/ticket/ALL-PENDING">
                <i class="icon ion-plus"></i>
                Overall Pending Ticket
                <span class="badge badge-assertive">{{count.opending}}</span>
              </a>
      
              <a class="item item-icon-left" href="#/tab/ticket/SOLVED">
                <i class="icon ion-checkmark"></i>
                Solved Ticket
                <span class="badge badge-assertive">{{count.solved}}</span>
              </a>
  </ion-content>
</ion-view>
