<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Ticket" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/tabU/Uticket">
    <ion-nav-view name="tabU-ticket"></ion-nav-view>
  </ion-tab>
    
    
  <!-- Chats Tab -->
  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tabU/chats">
    <ion-nav-view name="tabU-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tabU/account">
    <ion-nav-view name="tabU-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
